# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS files
.DS_Store
Thumbs.db

# Compiled binaries
*.exe
*.out
*.o
*.obj
*.a
*.so

# Results
/results/*.csv
/results/*.txt

# IDE
.vscode/
.idea/